<h1>whisper一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @tweets.each do |tweet| %>
  <tr>
    <td>
      <p><%= tweet.content %></p>
      <%= link_to '詳細', tweet_path(tweet.id),class: 'btn btn-default' %>
      <%= link_to "編集", edit_tweet_path(tweet.id) , data: { confirm: '本当に編集していいですか？' },class: 'btn btn-default' %>
      <%= link_to '削除', tweet_path(tweet.id), method: :delete ,data: {confirm: '本当に削除していいですか？'} ,class: 'btn btn-default'%>
    </td>
  </tr>
<% end %>
</table>
<%= link_to '新しく投稿する', new_tweet_path ,class: 'btn btn-default'%>
