<!DOCTYPE html>
<html>
  <head>
    <title>Whisper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="http://localhost:3000/tweets" class="navbar-brand">Whisper</a>
    </nav>

    <%= yield %>

    <footer class="footer">
      <div class="bottom section-padding">
			  <div class="container">
				  <div class="row">
					  <div class="col-md-12 text-center">
						  <div class="copyright">
							  <p>© <span>2019</span> <a href="#" class="transition">Whisper</a> 2019/12/21〜</p>
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>
    </footer>
  </body>
</html>
